@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

:root {
  --color-base: 255, 255, 255; /* #ffffff */
  --color-muted: 194, 202, 255; /* #c2caf5 */
  --color-inverted: 73, 74, 110; /* #494A6E */
  --color-fill: 57, 59, 77; /* #393B4D */
  --button-default: 80, 70, 229; /* #5046E5 */
  --button-disabled: 65, 67, 93; /* #41435D */
  --button-hover: 255, 255, 255; /* #ffffff */
  --button-accent: 73, 77, 104; /* #494D68 */
  --button-active: 234, 236, 247 /* #EAECF7 */;
  --button-accent-hover: 95, 112, 255; /* #463EDC */
  --button-butted: 147, 156, 227; /* #929ce3 */
  --card-color: hsla(0, 0%, 9%, 0.2);
  --color-comment: 113, 204, 231; /*#71cce7*/
  --color-retweet: #71e788;
  --color-like: 231, 113, 138; /*#e7718a*/
  --color-zap: #e6e771;
}

@font-face {
  font-family: "Gloock";
  src: url("./assets/fonts/Gloock-Regular.ttf") format("truetype");
}
html {
  @apply h-screen overflow-hidden text-skin-base font-objective;

  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 0% 24%,
      hsla(240, 32%, 23%, 0.5) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 100%, hsla(240, 32%, 23%, 0.64) 0px, transparent 50%),
    radial-gradient(at 51% 0%, hsla(240, 32%, 23%, 1) 0px, transparent 50%),
    radial-gradient(
      at 100% 100%,
      hsla(240, 32%, 23%, 0.67) 0px,
      transparent 50%
    );
}

.zap-color {
  @apply text-yellow-400;
}
.comment-color {
  @apply text-blue-400;
}
.retweet-color {
  @apply text-green-400;
}
.like-color {
  @apply text-red-400;
}

#e2e-navbar-mobile-container {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 0% 24%,
      hsla(240, 32%, 23%, 0.5) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 100%, hsla(240, 32%, 23%, 0.64) 0px, transparent 50%),
    radial-gradient(at 51% 0%, hsla(240, 32%, 23%, 1) 0px, transparent 50%),
    radial-gradient(
      at 100% 100%,
      hsla(240, 32%, 23%, 0.67) 0px,
      transparent 50%
    );
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
} /* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#trendingPosts::-webkit-scrollbar {
  display: none;
}
#trendingPosts::-webkit-scrollbar {
  display: none;
}

.topSvg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 800'%3E%3Cdefs%3E%3ClinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='nnneon-grad'%3E%3Cstop stop-color='hsl(157, 100%25, 54%25)' stop-opacity='1' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='hsl(331, 87%25, 61%25)' stop-opacity='1' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3Cfilter id='nnneon-filter' x='-100%25' y='-100%25' width='400%25' height='400%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='17 8' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' edgeMode='none' result='blur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3Cfilter id='nnneon-filter2' x='-100%25' y='-100%25' width='400%25' height='400%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='10 17' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' edgeMode='none' result='blur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3C/defs%3E%3Cg stroke-width='16' stroke='url(%23nnneon-grad)' fill='none'%3E%3Cpath d='M375.241557778823 70.14878247490125C385.384706562465 49.652550455668404 414.6153167009451 49.652550455668404 424.7584654845871 70.14878247490125L739.0993974377737 705.3496635733758C748.1845870754094 723.7078789372331 734.826126422443 745.2233979665868 714.3437058803121 745.2233979665868H85.65631738309793C65.1738968409669 745.2233979665868 51.81543618800072 723.7078789372331 60.90062582563638 705.3496635733758L375.241557778823 70.14878247490125Z ' filter='url(%23nnneon-filter)'%3E%3C/path%3E%3Cpath d='M387.241557778823 70.14878247490125C397.384706562465 49.652550455668404 426.6153167009451 49.652550455668404 436.7584654845871 70.14878247490125L751.0993974377737 705.3496635733758C760.1845870754094 723.7078789372331 746.826126422443 745.2233979665868 726.3437058803121 745.2233979665868H97.65631738309793C77.1738968409669 745.2233979665868 63.81543618800072 723.7078789372331 72.90062582563638 705.3496635733758L387.241557778823 70.14878247490125Z ' filter='url(%23nnneon-filter2)' opacity='0.25'%3E%3C/path%3E%3Cpath d='M363.241557778823 70.14878247490125C373.384706562465 49.652550455668404 402.6153167009451 49.652550455668404 412.7584654845871 70.14878247490125L727.0993974377737 705.3496635733758C736.1845870754094 723.7078789372331 722.826126422443 745.2233979665868 702.3437058803121 745.2233979665868H73.65631738309793C53.173896840966904 745.2233979665868 39.81543618800072 723.7078789372331 48.90062582563638 705.3496635733758L363.241557778823 70.14878247490125Z ' filter='url(%23nnneon-filter2)' opacity='0.25'%3E%3C/path%3E%3Cpath d='M375.241557778823 70.14878247490125C385.384706562465 49.652550455668404 414.6153167009451 49.652550455668404 424.7584654845871 70.14878247490125L739.0993974377737 705.3496635733758C748.1845870754094 723.7078789372331 734.826126422443 745.2233979665868 714.3437058803121 745.2233979665868H85.65631738309793C65.1738968409669 745.2233979665868 51.81543618800072 723.7078789372331 60.90062582563638 705.3496635733758L375.241557778823 70.14878247490125Z '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

input[type="text"],
input[type="number"],
label,
textarea {
  font-size: 16px;
}
